

.logo{
display: block;
margin: auto;
width: 50px;
height: 50px;

}

body{
  background-image: linear-gradient(rgb(255,255,255),aqua);
}
.container{
  max-width: 900px;
  background-color: bisque;
  margin: auto;
  height: 60vh;
  padding: 25px;
  overflow-y: auto;
  margin-bottom: 18px;
}

.message{
  background-color: grey;
  width: 24%;
  padding: 12px;
  margin: 16px 18px;
  border-radius: 8px;
  border: 2px solid black;
}

.left{
  float: left;
  clear: both;
  background-color: white;
  
}

.right{
  float: right;
  background-color: cadetblue;
  clear: both;
}

#send-container{
display: block;
margin: auto;
text-align: center;
max-width: 980px;
width: 100%;

}

#messageInp{
  width: 86%;
  border: 2px solid black;
  border-radius: 8px;
  height: 30px;

}

.btn{
  cursor: pointer;
  border: 2px solid black;
  height: 30px;
  border-radius: 8px;
}